<script lang="ts">
  import CustomLayout from "$lib/tidy/layout/CustomLayout.svelte";
  import Session from "$lib/local/components/session/Session.svelte";
  import TextInput from "$lib/tidy/elements/TextInput.svelte";
  import Popover from "$lib/tidy/components/Popover/Popover.svelte";
  import { TimerMode } from "$lib/local/types/timerMode.enum";
  import { Size } from "$lib/tidy/types/size.enum";
  import { userPreferences, windowObject } from "$lib/tidy/stores/app.store";
  import Timeline from "$lib/local/components/timeline/Timeline.svelte";
  import { onMount } from "svelte";
  import { formatTime } from "$lib/tidy/utils/utils";
  import { LayoutType } from "$lib/tidy/types/layout.enum";
  import MinimalModeTopBar from "$lib/local/components/topBar/MinimalModeTopBar.svelte";
  import {
    localStore,
    userLocalPreferences,
  } from "$lib/local/stores/local.store";
  let isShowOnboarding: boolean = false;
  $: isShowOnboarding = !$userPreferences.isOnboardingComplete;
  let pad: number;
  $: if ($windowObject.documentHeight) {
    let rawPad = ($windowObject.documentHeight / 10) * $windowObject.scale;
    pad = rawPad > 200 ? 200 : rawPad;
  }
  onMount(() => {
    windowObject.toggleTopBar(false);
  });
</script>

{#if $userLocalPreferences.timerMode == TimerMode.MINIMAL}
  <CustomLayout>
    <div
      class="flex flex-col w-full h-full justify-center items-center"
      style="padding-top: {pad}px; padding-bottom: {pad}px"
    >
      <div class="px-5 lg:px-36 w-full">
        <MinimalModeTopBar />
      </div>
      <div class="grow" />
      <Session />
    </div>
  </CustomLayout>
{:else}
  <CustomLayout
    layoutType={LayoutType.TWOPANEL}
    panelTitles={["Timeline", "Session"]}
  >
    <div slot="sidepanel" class="overflow-auto h-full w-full">
      <Timeline />
    </div>
    <div slot="main" class="w-full h-full flex">
      <div class="h-full w-full">
        <Session />
      </div>

      {#if $windowObject.landscapiness > 1.5 && $windowObject.scale > 1.5}
        <div
          class="flex justify-center items-center w-1/2 h-full opacity-10"
          style="font-size: {$windowObject.landscapiness * 100}px;"
        >
          {formatTime(new Date())}
        </div>
      {/if}
    </div>
  </CustomLayout>
{/if}

<!-- <Responsiveness /> -->
<Popover
  size={Size.lg}
  bind:show={isShowOnboarding}
  primaryText="lets go"
  isShowClose={false}
  on:primary={() => ($userPreferences.isOnboardingComplete = true)}
>
  <div class="flex flex-col gap-4 p-8 h-full">
    <div class="text-h1">Hi there!</div>
    <div>Thanks for taking your time to try {$localStore.appName}</div>
    <div>
      Please report any feedback to report@tidigit.com or join our <a
        href="https://discord.com/invite/9HJqKYTZKg"
      >
        <u>discord</u>
      </a>
    </div>
    <div class="pt-2 grow">
      <TextInput
        bind:value={$userPreferences.nickName}
        label="Nickname (Optional)"
      />
    </div>
  </div>
</Popover>
