<script lang="ts">
  import Check from "$lib/tidy/icons/Check.svelte";
  import Estimate from "$lib/tidy/icons/Estimate.svelte";
  import Button from "$lib/tidy/elements/Button.svelte";
  import TextInput from "$lib/tidy/elements/TextInput.svelte";
  import type { SessionStore, Task } from "$lib/local/types/session.type";
  import { Size } from "$lib/tidy/types/size.enum";
  import { TextInputStyle } from "$lib/tidy/types/textinput.enum";
  import { formatSecondsToTime } from "$lib/tidy/utils/utils";
  import { createEventDispatcher, onMount } from "svelte";
  import {
    currentTaskStore,
    sessionStore,
  } from "$lib/local/stores/session.store";
  import DraggableElement from "$lib/tidy/elements/DraggableElement.svelte";
  import { Persistance } from "$lib/tidy/stores/persistance";
  import { ItemType } from "$lib/tidy/types/item.enum";
  import { TagPersistance } from "$lib/local/stores/tag.persistance";
  import TaskTags from "./TaskTags.svelte";
  import type { Tag } from "$lib/local/types/tag.type";
  import Cross from "$lib/tidy/icons/Cross.svelte";
  import TaskText from "./TaskText.svelte";
  export let task: Task;
  export let sessionId: string;
  export let index: number;
  export let isCurrentSession: boolean = false;
  export let isInEditMode: boolean = false;
  export let isEditingText: boolean = false;
  let isInprogress: boolean = false;
  let isDragging: boolean = false;
  let label: string;
  let tagIds: string[] = [];
  let isHovered: boolean = false;
  let isShowEstimatePop = false;
  let workedInMinutes: number = 0;
  let estimateInMinutes: number = 0;
  const persistance = new Persistance();
  const tagPersistance = new TagPersistance();
  const dispatch = createEventDispatcher();
  onMount(() => {
    label = task.label;
    tagIds = task.tags ?? [];
    workedInMinutes = task.worked / 60;
    estimateInMinutes = task.estimate / 60;
    sessionStore.subscribe((x: SessionStore) => {
      const currentTask = x.taskBlocks[x.taskBlocks.length - 1];
      if (currentTask?.taskId === task.id) {
        isInprogress = true;
        task.worked =
          (currentTask.previousWorked ?? 0) +
            (new Date().getTime() - currentTask.start) / 1000 ?? task.worked;
        workedInMinutes = task.worked / 60;
        save();
      } else {
        isInprogress = false;
      }
    });
  });
  function onDeleteClicked() {
    if (isCurrentSession) {
      currentTaskStore.deleteTask(task.id);
    } else {
      persistance.delete(task.id, ItemType.Task);
    }
    dispatch("change");
  }
  function onCheckClicked() {
    if (isInprogress) {
      isInprogress = false;
      sessionStore.stopCurrentTask();
    }
    task.checked = !task.checked;
    save();
  }
  function handleKeyDown(event: any) {
    isEditingText = true;
  }
  function onStartTaskClicked() {
    if (task.checked) task.checked = false;
    sessionStore.startTask(task.id, task.worked);
  }
  function save() {
    task.estimate = estimateInMinutes * 60;
    task.worked = workedInMinutes * 60;
    task.label = label;
    task.tags = tagIds;
    isEditingText = false;
    if (isCurrentSession) {
      currentTaskStore.updateTask(task);
    } else {
      persistance.update(task, ItemType.Task);
    }
  }
  function onEstimateClicked() {
    workedInMinutes = +(+workedInMinutes).toFixed(2);
    isShowEstimatePop = !isShowEstimatePop;
  }
  function onRemoveTag(event: CustomEvent<string>) {
    tagIds = tagIds.filter((x) => x !== event.detail);
    save();
  }
</script>

<DraggableElement
  isDraggable={isInEditMode}
  bind:isDragging
  item={{
    task,
    listId: isCurrentSession ? true : sessionId,
    isCurrentSession,
  }}
  classList="relative flex items-center gap-2 w-full"
  on:mouseenter={() => (isHovered = true)}
  on:mouseleave={() => (isHovered = false)}
>
  <div
    class="{isInprogress
      ? 'border border-accent1'
      : (isHovered && isCurrentSession && !isInprogress) || isInEditMode
      ? 'border border-bgs4'
      : 'border border-bgs3'} rounded-lg flex gap-2 items-center w-full px-4 p-2"
  >
    <div class="flex gap-2 w-full items-center">
      <div class="flex flex-col gap-1 w-full leading-none">
        {#if tagIds && tagIds.length > 0}
          <TaskTags {tagIds} on:remove={onRemoveTag} />
        {/if}
        <div class="flex gap-2 w-full {task.checked ? 'line-through' : ''}">
          <div class="flex justify-start items-center">
            <Check isChecked={task.checked} on:click={onCheckClicked} />
          </div>
          <TaskText
            bind:label
            bind:tagIds
            on:save={save}
            on:update={save}
            on:keydown={handleKeyDown}
            on:blur={save}
            on:focus={() => {
              isEditingText = true;
            }}
          />
        </div>
      </div>
    </div>
    <div class="min-w-fit relative flex justify-center items-center text-xs">
      <button class="flex items-center gap-1" on:click={onEstimateClicked}>
        {#if isInEditMode || (isCurrentSession && isHovered)}
          <Estimate />
        {/if}
        <div
          class={task.estimate == 0
            ? ""
            : task.worked >= task.estimate
            ? "text-red"
            : "text-green"}
        >
          {task.worked && task.worked != 0
            ? formatSecondsToTime(
                task.worked,
                isInprogress ? 2 : 0,
                "min",
                task.estimate && task.estimate != 0 ? false : true
              )
            : ""}
        </div>
        {task.estimate && task.estimate != 0
          ? "/ " + formatSecondsToTime(task.estimate, 0, "min")
          : ""}
      </button>
      {#if isShowEstimatePop}
        <div class="absolute -top-20 right-0 w-96 z-20">
          <div class="flex gap-2 bg-bgs1 p-4 rounded-xl">
            {#if !isInprogress}
              <TextInput
                label="Worked time"
                bind:value={workedInMinutes}
                units={["min"]}
                size={Size.xs}
                on:keydown={handleKeyDown}
              />
            {/if}
            <TextInput
              label="Estimated time"
              bind:value={estimateInMinutes}
              units={["min"]}
              size={Size.xs}
              on:keydown={handleKeyDown}
            >
              <Button
                size={Size.xs}
                label="done"
                on:click={() => {
                  save();
                  isShowEstimatePop = false;
                }}
              />
            </TextInput>
          </div>
        </div>
      {/if}
    </div>
  </div>
  {#if isCurrentSession && isHovered && !isInprogress && !isInEditMode && !isEditingText}
    <div class="absolute right-20 z-10">
      <Button label="start" size={Size.sm} on:click={onStartTaskClicked} />
    </div>
  {/if}
  {#if !isDragging && isInEditMode}
    <button on:click={onDeleteClicked} class="text-red mr-1"><Cross /></button>
  {/if}
</DraggableElement>

<style>
  @keyframes rotatingBorder {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .rotating-light {
    position: relative;
    overflow: hidden;
    background-color: white;
  }

  .rotating-light::before {
    content: "";
    position: absolute;
    top: -5px;
    left: -5px;
    width: 50%;
    height: 50%;
    background: linear-gradient(45deg, #f06, transparent);
    border-radius: 100%;
    animation: rotatingBorder 3s linear infinite;
  }
</style>
