<script lang="ts">
  import { formatSeconds, generateUID } from "$lib/tidy/utils/utils";
  import { SessionState } from "$lib/local/types/sessionState.enum";
  import { SessionType } from "$lib/local/types/sessionType.enum";
  import { onMount } from "svelte";
  import ControlBarView from "./controls/ControlBarView.svelte";
  import IntervalBarView from "./intervalbar/IntervalBarView.svelte";
  import IntervalSelector from "$lib/local/components/presets/IntervalSelector.svelte";
  import {
    sessionStore,
    currentTaskStore,
  } from "$lib/local/stores/session.store";
  import SessionFinishView from "./SessionFinishView.svelte";
  import { TimerMode } from "$lib/local/types/timerMode.enum";
  import { windowObject } from "$lib/tidy/stores/app.store";
  import {
    localStore,
    pointronEvents,
    userLocalPreferences,
  } from "$lib/local/stores/local.store";
  import { PointronEventEnum } from "../../types/pointronEvent.enum";
  import IntervalTimerText from "./IntervalTimerText.svelte";
  import SessionStatusLabel from "./SessionStatusLabel.svelte";
  import AddNewTask from "../timeline/timelineBlock/Task/AddNewTask.svelte";
  import type { Task } from "$lib/local/types/session.type";
  import type { Tag } from "$lib/local/types/tag.type";
  import { TagPersistance } from "$lib/local/stores/tag.persistance";
  import TaskTags from "../timeline/timelineBlock/Task/TaskTags.svelte";
  let focusingTask: Task;
  let timer: any;
  let pad: number;
  const tagPersistance = new TagPersistance();
  $: if ($windowObject.documentHeight) {
    let rawPadding = ($windowObject.documentHeight / 15) * $windowObject.scale;
    pad = rawPadding > 150 ? 150 : rawPadding;
  }
  $: focusingTask =
    $currentTaskStore?.find(
      (x) =>
        x.id ===
        $sessionStore.taskBlocks[$sessionStore.taskBlocks.length - 1]?.taskId
    ) ?? $currentTaskStore[0];

  onMount(() => {
    clearInterval(timer);
    const diff = Math.abs($windowObject.firstLoad - new Date().getTime());
    if ($sessionStore.snapshot) {
      if (diff < 1000) {
        //todo restore
        //isShowSessionRestoreConfirmation = true;
      } else {
        restoreSession();
      }
    }
  });
  function restoreSession() {
    const snapshot = $sessionStore.snapshot!;
    //focus = snapshot.focus;
    if ($sessionStore.state != SessionState.FINISHED) {
      // currentBarIndex = snapshot.currentBarIndex;
      // currentBarDuration = snapshot.currentBarDuration;
      // bars = snapshot.bars;
      //initBars();
      if (
        $sessionStore.state == SessionState.INTERVAL_RUNNING ||
        $sessionStore.state == SessionState.BREAK_RUNNING
      ) {
        //resumeTimer(false);
      }
    }
    //sessionChangeEvent.set({ id: sessionId });
  }

  function resetSession() {
    sessionStore.resetSession();
  }

  function focusInputChanged(event: any) {
    let task: Task = {
      id: generateUID(),
      label: event.detail.label,
      tags: event.detail.tags,
      checked: false,
      worked: 0,
      estimate: 0,
      sessionId: "0",
      order: 0,
    };
    currentTaskStore.updateCurrentTasks([task]);
  }
</script>

<head>
  <title
    >{$localStore.appName}
    {$sessionStore.totalElapsed
      ? formatSeconds($sessionStore.totalElapsed)
      : ""}{$sessionStore.type != SessionType.COUNTUP &&
    $sessionStore.timeElapsed
      ? " | " +
        formatSeconds(
          $sessionStore.currentBarDuration - $sessionStore.timeElapsed
        )
      : ""}</title
  >
</head>
{#if $sessionStore.state === SessionState.FINISHED}
  <div class="flex h-full w-full justify-center items-center">
    <SessionFinishView
      sessionElapsed={$sessionStore.totalElapsed}
      on:click={resetSession}
      on:delete={() => {
        sessionStore.deleteSession();
      }}
    />
  </div>
{:else}
  <div
    class="flex flex-col justify-around items-center gap-10 w-full h-full max-w-5xl"
    style="padding-top: {pad}px; padding-bottom: {$windowObject.isInThinMode
      ? 2 * pad
      : pad}px; gap: {pad}px"
  >
    <!-- <input class="bg-bgs1 w-72 text-h2" bind:value={focus} /> -->
    {#if $userLocalPreferences.timerMode === TimerMode.MINIMAL && $sessionStore.state === SessionState.NOT_STARTED && $currentTaskStore.length === 0}
      <!-- <div class="w-1/2 pb-10 h-40" style="padding-top: {pad}px;">
        <TextInput
          label="focusing on"
          bind:value={focus}
          placeholder="{$pointronConstants.focusPlaceholderText[
            Math.floor(Math.random() * 5)
          ]}..."
        />
      </div> -->
      <div>
        <AddNewTask isFromSessionPage={true} on:new={focusInputChanged} />
      </div>
    {:else}
      <div class="flex flex-col gap-2 justify-center items-center text-h1">
        {#if focusingTask?.tags && focusingTask?.tags.length > 0}
          <TaskTags tagIds={focusingTask.tags} isEditable={false} />
        {/if}
        <div class="flex gap-2">
          {#if focusingTask?.label}
            {focusingTask?.label}
          {/if}
          {#if $userLocalPreferences.timerMode === TimerMode.MINIMAL && $sessionStore.state === SessionState.NOT_STARTED}
            <button
              on:click={() => {
                currentTaskStore.reset();
              }}
              class="text-b3 text-fgs3">reset</button
            >
          {/if}
        </div>
      </div>
    {/if}
    <div class="flex flex-col items-center gap-2 w-full">
      {#if $sessionStore.state === SessionState.NOT_STARTED}
        <IntervalSelector />
      {:else}
        <div class="text-lg">
          Current session: {formatSeconds($sessionStore.totalElapsed)}
        </div>
        <SessionStatusLabel />
        <div class="text-8xl">
          <IntervalTimerText />
        </div>
      {/if}
    </div>
    <IntervalBarView />
    <!-- <div class="grow" /> -->
    <div>
      <ControlBarView />
    </div>
  </div>
{/if}
