<script lang="ts">
  import TextInput from "$lib/tidy/elements/TextInput.svelte";
  import { Size } from "$lib/tidy/types/size.enum";
  export let parentBackgroundIndex = 1;

  export let id: any = "dynamic-slider";
  export let min = 0;
  export let max = 200;
  export let step = 5;
  export let val = 0;
  export let color: string | undefined = undefined;
</script>

<div class="flex flex-col gap-4 items-center">
  <div>
    <input
      class="appearance-none bg-bgs3 border-none rounded-md h-10 w-56 sm:w-72 md:w-96"
      type="range"
      {id}
      {min}
      {max}
      {step}
      name={id}
      bind:value={val}
      on:change
      style:--color={color ?? "rgba(var(--colors-accent1))"}
    />
    <div class="flex flex-row text-fgs3 text-xs">
      <div class="pr-4">{min}</div>
      <div class="grow" />
      <div>{max / 4}</div>
      <div class="grow" />
      <div>{max / 2}</div>
      <div class="grow" />
      <div>{3 * (max / 4)}</div>
      <div class="grow" />
      <div>{max}</div>
    </div>
  </div>
  <div class="text-center text-base self-center">
    <TextInput
      {parentBackgroundIndex}
      size={Size.lg}
      bind:value={val}
      on:change
      units={["minutes"]}
    />
  </div>
  {#if val === 0}
    <div>countup mode</div>
  {/if}
</div>

<style>
  input[type="range"] {
    /* other styles */
    /* background: repeating-linear-gradient(
            90deg,
            transparent,
            transparent 25px,
            gray 25px,
            gray 26px
        ); */
    background-image: repeating-linear-gradient(
      90deg,
      transparent,
      transparent 25px,
      rgba(var(--colors-bgs2)) 25px,
      rgba(var(--colors-bgs2)) 26px
    );
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 30px;
    height: 2.5rem;
    background-color: var(--color);
    border-radius: 4px;
    cursor: pointer;
  }
  input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background-color: teal;
    border-radius: 50%;
    cursor: pointer;
  }
</style>
