<script lang="ts">
  import { sessionStore } from "$lib/local/stores/session.store";
  import RightArrow from "$lib/tidy/icons/RightArrow.svelte";
  import { formatTime } from "$lib/tidy/utils/utils";
</script>

{formatTime(new Date($sessionStore.start ?? new Date()))}
<div>
  <RightArrow width={7} color={"fgs3"} />
</div>
{formatTime(new Date($sessionStore.end ?? new Date()))}
