<script lang="ts">
  import Button from "$lib/tidy/elements/Button.svelte";
  import { resetLocalStorage } from "$lib/tidy/stores/persistance";
  import { sessionStore, tagStore } from "$lib/local/stores/session.store";
  import type { UserGlobalPreferences } from "$lib/tidy/types/preferences.type";
  import type { Session } from "$lib/local/types/session.type";
  import { removeDuplicatesById } from "$lib/tidy/utils/utils";
  import { userPreferences } from "$lib/tidy/stores/app.store";
  import {
    localStore,
    userLocalPreferences,
  } from "$lib/local/stores/local.store";
  import {
    StatusMessageType,
    type StatusMessage,
  } from "$lib/tidy/types/statusMessage.type";
  import StatusMessageText from "$lib/tidy/elements/text/StatusMessageText.svelte";

  let clearMessage: string | undefined = undefined;
  let fileInput: HTMLInputElement;
  let statusMessage: StatusMessage = {
    message: undefined,
    type: StatusMessageType.DEFAULT,
  };
  function clearStorageHandler() {
    resetLocalStorage();
    clearMessage = "cleared successfully";
    setTimeout(() => {
      clearMessage = undefined;
    }, 3000);
  }
  function exportSessionData() {
    let sessions = window?.localStorage.getItem("Sessions");
    let tasks = window?.localStorage.getItem("Task");
    let sessionExport = JSON.stringify({
      sessions: sessions ? JSON.parse(sessions) : [],
      tasks: tasks ? JSON.parse(tasks) : [],
    });
    if (!sessionExport) return;
    const dataJSON = sessionExport;
    download(dataJSON, "sessions");
  }
  function exportPreferences() {
    let preferences = JSON.stringify({
      global: $userPreferences,
      local: $userLocalPreferences,
      tags: $tagStore,
    });
    if (!preferences) return;
    const dataJSON = preferences;
    download(dataJSON, "preferences");
  }
  function download(data: string, label: string | null = null) {
    const blob = new Blob([data], { type: "application/json" });
    const url = URL.createObjectURL(blob);
    const link = document.createElement("a");
    link.href = url;
    link.download = (label ?? "data") + ".json";
    link.click();
    URL.revokeObjectURL(url);
  }
  async function importJSON() {
    if (!fileInput.files) return;
    const file = fileInput.files[0];
    if (!file) return;

    const reader = new FileReader();
    reader.onload = (event) => {
      try {
        const importedData = event.target?.result;
        if (!importedData) return;
        const jsonData = JSON.parse(importedData as string);
        console.log(jsonData);
        if (isValidUserPreferences(jsonData)) {
          console.log("Importing User preferences");
          userPreferences.set(jsonData.global);
          userLocalPreferences.set(jsonData.local);
          tagStore.set(jsonData.tags);
          statusMessage.message = "Preferences imported successfully";
          statusMessage.type = StatusMessageType.SUCCESS;
        } else if (isListOfSessions(jsonData)) {
          console.log("Importing session data");
          let existingSessions = [];
          let sessionStorage = window?.localStorage.getItem("Sessions");
          if (sessionStorage) {
            existingSessions = JSON.parse(sessionStorage);
          }
          let sessions = [...existingSessions, ...jsonData.sessions];
          sessions = removeDuplicatesById(sessions);
          console.log({ existingSessions, sessions });
          window.localStorage.setItem("Sessions", JSON.stringify(sessions));
          let existingTasks = [];
          let tasksStorage = window?.localStorage.getItem("Task");
          if (tasksStorage) {
            existingTasks = JSON.parse(tasksStorage);
          }
          let tasks = [...existingTasks, ...jsonData.tasks];
          tasks = removeDuplicatesById(tasks);
          console.log({ existingTasks, tasks });
          window.localStorage.setItem("Task", JSON.stringify(tasks));
          sessionStore.reload();
          statusMessage.message = "Sessions imported successfully";
          statusMessage.type = StatusMessageType.SUCCESS;
        }
      } catch (error) {
        console.error("Error parsing JSON file:", error);
      }
    };
    reader.readAsText(file);
  }
  function isValidUserPreferences(item: any) {
    return (
      item &&
      item.global &&
      item.local &&
      item.tags &&
      typeof item.tags === "object"
    );
  }
  function isValidSessionType(item: any): item is Session {
    return (
      item && typeof item.elapsed === "number" && typeof item.start === "number"
    );
  }

  function isListOfSessions(data: any) {
    return (
      data &&
      Array.isArray(data.sessions) &&
      Array.isArray(data.tasks) &&
      data.sessions?.every(isValidSessionType)
    );
  }
</script>

<div class="flex flex-col gap-8 w-full">
  <div class="flex flex-col gap-1">
    <div>Export</div>
    <div class="flex gap-2">
      <Button
        label={"Export session data (JSON)"}
        on:click={exportSessionData}
      />
      <Button
        label={"Export preferences (JSON)"}
        on:click={exportPreferences}
      />
    </div>
  </div>
  <div class="flex flex-col gap-1">
    <div>Import</div>
    <div class="flex gap-2">
      <input
        type="file"
        on:change={importJSON}
        bind:this={fileInput}
        accept=".json"
        class="..."
        style="display:none"
      />
      <Button
        on:click={() => fileInput.click()}
        label={"Import session data"}
      />
      <Button on:click={() => fileInput.click()} label={"Import preferences"} />
    </div>
  </div>
  <div>
    {$localStore.appName} uses your local browser to store your data. Private cloud
    storage and notion sync will be available soon
  </div>
  <Button label="clear storage" on:click={clearStorageHandler} />
  <div>{clearMessage ?? ""}</div>
  <StatusMessageText bind:message={statusMessage} />
</div>
