<script lang="ts">
  import ColorPicker from "$lib/tidy/components/colorPicker/ColorPicker.svelte";
  import CustomColorElement from "$lib/tidy/elements/CustomColorElement.svelte";
  import Element from "$lib/tidy/elements/Element.svelte";
  import TextInput from "$lib/tidy/elements/TextInput.svelte";
  import Popover from "$lib/tidy/components/Popover/Popover.svelte";
  import { tagStore } from "$lib/local/stores/session.store";
  import { EventType } from "$lib/tidy/types/event.enum";
  import type { CustomEvent } from "$lib/tidy/types/event.type";
  import { Size } from "$lib/tidy/types/size.enum";
  import { assignSatAndLight, generateUID } from "$lib/tidy/utils/utils";
  import { onMount } from "svelte";
  import {
    appEvents,
    appStore,
    userPreferences,
  } from "$lib/tidy/stores/app.store";
  import StatusMessageText from "$lib/tidy/elements/text/StatusMessageText.svelte";
  import {
    StatusMessageType,
    type StatusMessage,
  } from "$lib/tidy/types/statusMessage.type";
  import Error from "../../../../routes/[...route]/+error.svelte";
  export let label: string | undefined = undefined;
  export let id: string | undefined = undefined;
  export let hue: number | undefined = undefined;
  export let isAddNew: boolean = false;
  let isShowEditPopOver: boolean = false;
  let inputRef: any;
  let saturation = 50;
  let lightness = 50;
  let statusMessage: StatusMessage = {
    message: undefined,
    type: StatusMessageType.DEFAULT,
  };
  function onClick() {
    isShowEditPopOver = true;
    setTimeout(() => {
      if (inputRef) inputRef.focus();
    }, 100);
  }
  onMount(() => {
    if (label == undefined) isAddNew = true;
    appEvents.subscribe((x: CustomEvent) => {
      if (x.type === EventType.POP_DISMISSED) {
        isShowEditPopOver = false;
      }
    });
    let values = assignSatAndLight(
      $userPreferences,
      $appStore.appConstants.selectableColorParams
    );
    if (values) {
      saturation = values.saturation;
      lightness = values.lightness;
    }
  });
  function onSaveClicked() {
    if (!label) return;
    if (isAddNew) {
      if (
        $tagStore.some((x) => x.label.toLowerCase() === label?.toLowerCase())
      ) {
        statusMessage.message = "Tag already exists";
        statusMessage.type = StatusMessageType.ERROR;
        return;
      }
      tagStore.create({ id: id ?? generateUID(), label, hue });
      label = undefined;
    } else if (id) {
      tagStore.update({ id, label, hue });
    }
    isShowEditPopOver = false;
  }
  function onDeleteClicked() {
    if (!id) return;
    tagStore.delete(id);
    isShowEditPopOver = false;
  }
  function handleKeyDown(event: any) {
    if (event.key === "Enter" && label) {
      onSaveClicked();
    }
  }
</script>

{#if isAddNew}
  <Element classList="py-2 px-4 rounded-lg" on:click={onClick}>Add new</Element>
{:else if label}
  <CustomColorElement
    classList="py-2 px-4 rounded-lg text-bgs1"
    on:click={onClick}
    {hue}
  >
    {label}
  </CustomColorElement>
{/if}

<Popover
  size={Size.sm}
  show={isShowEditPopOver}
  primaryText="save"
  secondaryText={isAddNew ? undefined : "delete"}
  on:primary={onSaveClicked}
  on:secondary={onDeleteClicked}
>
  <div class="flex flex-col gap-8 w-full">
    <div class="flex gap-2 w-full">
      <div>
        <CustomColorElement classList="w-12 h-12 rounded-full" {hue} />
      </div>
      <div class="w-full">
        <TextInput
          bind:this={inputRef}
          placeholder="Tag"
          bind:value={label}
          on:keydown={handleKeyDown}
        />
      </div>
    </div>
    <ColorPicker bind:hue />
    <div class="text-center h-8">
      <StatusMessageText message={statusMessage} />
    </div>
  </div>
</Popover>
