<script lang="ts">
    export let src: any;
    export let autoplay = false;
    export let loop = false;

    let audio: any;

    $: if (autoplay) {
        audio.play();
    } else {
        audio?.pause();
    }

    $: if(audio) audio.loop = loop;

    const handlePlay = () => {
        audio.play();
    };

    const handlePause = () => {
        audio.pause();
    };
</script>

<audio bind:this={audio} {src} />
<button on:click={handlePlay}>Play</button>
<button on:click={handlePause}>Pause</button>
