<script lang="ts">
  import Button from "$lib/tidy/elements/Button.svelte";
  import TextInput from "$lib/tidy/elements/TextInput.svelte";
  import type { Preset } from "$lib/local/types/preset.type";
  import { generateUID } from "$lib/tidy/utils/utils";
  import EditPresetUnitView from "./EditPresetUnitView.svelte";
  export let preset: Preset;

  function removeAdditionalHandler(event: any) {
    preset.additional = preset.additional?.filter(
      (x) => x.id != event?.detail?.preset.id
    );
  }
  function onAddAdditionalClicked() {
    preset.additional = [
      ...(preset.additional ?? []),
      {
        id: generateUID(),
        duration: 28,
        rounds: 1,
        brek: 2,
      },
    ];
  }
  function onEachAdditionalEdit(event: any) {
    let presetToBeSaved = event.detail.preset;
    if (presetToBeSaved.id != preset.id) {
      removeAdditionalHandler(event);
      preset.additional = [...(preset.additional ?? []), event.detail.preset];
    }
  }
</script>

<div class="flex flex-col gap-4 h-full p-6">
  <TextInput bind:value={preset.name} label="Preset name" />
  <div class="flex flex-col gap-2 items-center h-full">
    <EditPresetUnitView bind:preset />
    {#if preset.additional && preset.additional.length > 0}
      {#each preset.additional as item}
        <EditPresetUnitView
          preset={item}
          on:remove={removeAdditionalHandler}
          on:change={onEachAdditionalEdit}
          isShowRemove={true}
        />
      {/each}
    {/if}
    <div class="">
      <Button on:click={onAddAdditionalClicked} label="add" />
    </div>
  </div>
</div>
