<script lang="ts">
  import Slider from "$lib/local/components/session/Slider.svelte";
  import { onMount } from "svelte";
  import { windowObject } from "$lib/tidy/stores/app.store";
  import { sessionStore } from "$lib/local/stores/session.store";
  import { userLocalPreferences } from "$lib/local/stores/local.store";
  import PresetSelector from "./PresetSelector.svelte";
  import Switcher from "$lib/tidy/elements/switcher/Switcher.svelte";
  import { SwitcherStyle } from "$lib/tidy/types/switcher.enum";
  import Button from "$lib/tidy/elements/Button.svelte";
  import Popover from "$lib/tidy/components/Popover/Popover.svelte";
  import PresetsEditor from "./PresetsEditor.svelte";
  import { Size } from "$lib/tidy/types/size.enum";
  export let color: string | undefined = undefined;
  export let parentBackgroundIndex = 1;
  let selectedPresetIndex: number = 0;
  let selectedDynamicDuration: number = 0;
  let isOverflowing: boolean = false;
  let presetview: any;
  let selectedIntervalType: number = 0;
  let isShowPresetsEditor: boolean = false;
  onMount(() => {
    if ($sessionStore.selectedPreset) {
      selectedPresetIndex = $userLocalPreferences.presets.indexOf(
        $sessionStore.selectedPreset
      );
    } else {
      selectedDynamicDuration = $sessionStore.plannedDuration / 60;
    }
    presetview = document.querySelector("#presetview") as HTMLElement;
    handleSizes();
    windowObject.subscribe(() => handleSizes());
  });
  function handleSizes() {
    isOverflowing = presetview?.clientWidth < presetview?.scrollWidth;
  }
  function onPresetSelection(event: any) {
    const preset = event.detail.preset;
    sessionStore.onPresetSelection(preset);
    selectedPresetIndex = $userLocalPreferences.presets.indexOf(preset);
  }
  function onIntervalTypeSwitch() {
    if (selectedIntervalType === 0) {
      sessionStore.onDynamicDurationChange(selectedDynamicDuration);
    } else {
      sessionStore.onPresetSelection(
        $userLocalPreferences.presets[selectedPresetIndex]
      );
    }
  }
  function onDynamicSliderChange(event: any) {
    selectedDynamicDuration = Number(event.target.value);
    sessionStore.onDynamicDurationChange(selectedDynamicDuration);
  }
</script>

<div
  class="flex flex-col justify-center items-center gap-8 py-8 px-10 md:px-20 border-bgs2 border-2 rounded-md"
>
  <Switcher
    items={["Dynamic", "Preset"]}
    style={$windowObject.isInThinMode
      ? SwitcherStyle.Vertical
      : SwitcherStyle.Horizontal}
    bind:selectedIndex={selectedIntervalType}
    on:switch={onIntervalTypeSwitch}
    {parentBackgroundIndex}
  />
  <div
    class="h-48 overflow-auto scrollstyle {!$windowObject.isInThinMode
      ? 'w-96'
      : ''} "
  >
    {#if selectedIntervalType === 0}
      <Slider
        val={selectedDynamicDuration}
        {parentBackgroundIndex}
        on:change={onDynamicSliderChange}
        {color}
      />
    {:else}
      <div class="flex flex-col justify-between items-center h-full gap-2">
        {#if isShowPresetsEditor}
          <PresetsEditor />
          <div class="text-fgs2 text-b3">Tap to edit or delete</div>
        {:else}
          <PresetSelector
            {parentBackgroundIndex}
            {selectedPresetIndex}
            on:click={onPresetSelection}
          />
        {/if}
        <button
          class="text-fgs2 text-b2 underline"
          on:click={() => {
            isShowPresetsEditor = !isShowPresetsEditor;
          }}>{isShowPresetsEditor ? "close editor" : "edit presets"}</button
        >
      </div>
    {/if}
  </div>
</div>
