<script lang="ts">
    export let listItem = { title: "something", color: "#f2f" };
    export let isActive: boolean = false;
</script>

{#if isActive}
    <div
        class="rounded-md p-2 h-16 w-32"
        style="background-color: {listItem.color}"
    >
        {listItem.title}
    </div>
{:else}
    <div class="bg-bgs3 rounded-md p-2 h-16 w-32">{listItem.title}</div>
{/if}
