<script lang="ts">
    import TaskListBrowserItem from "./TaskListBrowserItem.svelte";

    let lists = [
        { title: "something", color: "#f2f" },
        { title: "something 2", color: "#d4d4" },
    ];
    let selectedIndex = 0;
</script>

<div class="flex flex-row gap-5 px-2 flex-wrap">
    {#each lists as listItem, i}
        <button on:click={() => {selectedIndex = i}}>
            <TaskListBrowserItem {listItem} isActive={selectedIndex == i} />
        </button>
    {/each}
</div>
