@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {

    /* @font-face {
        font-family: 'HkGrotesk';
        src: url('fonts/HKGrotesk-Medium.otf');
    } */
    ::-webkit-scrollbar {
        width: 0em;
        /* background-color: #f5f5f5; */
    }

    .scrollstyle {
        -webkit-overflow-scrolling: touch;
    }

    .scrollstyle::-webkit-scrollbar {
        height: 2px;
        width: 0.5em;
        /* background-color: #f5f5f5; */
    }

    .scrollstyle::-webkit-scrollbar-thumb {
        border-radius: 9999px;
        background-color: rgba(var(--colors-bgs2));
    }

    .scrollstyle::-webkit-scrollbar-thumb:hover {
        background-color: rgba(var(--colors-bgs3));
        width: 1rem;
    }
}